<launch>

  <arg name="tag_family"                        default="tagStandard41h12"/>
  <arg name="standalone_tags"                   default="$(find interbotix_perception_modules)/config/tags.yaml"/>
  <arg name="camera_frame"                      default="camera_color_optical_frame"/>
  <arg name="apriltag_ns"                       default="apriltag"/>
  <arg name="camera_color_topic"                default="camera/color/image_raw"/>
  <arg name="camera_info_topic"                 default="camera/color/camera_info"/>

  <arg name="armtag_ns"                         default="armtag"/>
  <arg name="ref_frame"                         default="camera_color_optical_frame"/>
  <arg name="arm_base_frame"                    default="base_link"/>
  <arg name="arm_tag_frame"                     default="ar_tag_link"/>
  <arg name="use_armtag_tuner_gui"              default="false"/>
  <arg name="position_only"                     default="false"/>

  <param name="$(arg armtag_ns)/ref_frame" value="$(arg ref_frame)"/>
  <param name="$(arg armtag_ns)/arm_base_frame" value="$(arg arm_base_frame)"/>
  <param name="$(arg armtag_ns)/arm_tag_frame" value="$(arg arm_tag_frame)"/>

  <include file="$(find interbotix_perception_modules)/launch/apriltag.launch">
    <arg name="tag_family"                        value="$(arg tag_family)"/>
    <arg name="standalone_tags"                   value="$(arg standalone_tags)"/>
    <arg name="camera_frame"                      value="$(arg camera_frame)"/>
    <arg name="apriltag_ns"                       value="$(arg apriltag_ns)"/>
    <arg name="camera_color_topic"                value="$(arg camera_color_topic)"/>
    <arg name="camera_info_topic"                 value="$(arg camera_info_topic)"/>
  </include>

  <node if="$(arg use_armtag_tuner_gui)"
    name="armtag_tuner_gui"
    pkg="interbotix_perception_modules"
    type="armtag_tuner_gui"
    output="screen"
    ns="$(arg armtag_ns)">
    <param name="position_only" value="$(arg position_only)"/>
    <param name="apriltag_ns" value="$(arg apriltag_ns)"/>
  </node>

</launch>
