<launch>

  <arg name="filter_ns"                         default="pc_filter"/>
  <arg name="filter_params"                     default=""/>
  <arg name="use_pointcloud_tuner_gui"          default="false"/>
  <arg name="enable_pipeline"                   default="$(arg use_pointcloud_tuner_gui)"/>
  <arg name="cloud_topic"                       default="camera/depth/color/points"/>

  <param name="$(arg filter_ns)/filter_params"  value="$(arg filter_params)"/>
  <rosparam command="load" file="$(arg filter_params)" ns="$(arg filter_ns)"/>

  <node
    name="perception_pipeline"
    pkg="interbotix_perception_modules"
    type="perception_pipeline"
    output="screen"
    ns="$(arg filter_ns)">
    <param name="enable_pipeline" value="$(arg enable_pipeline)"/>
    <param name="cloud_topic" value="$(arg cloud_topic)"/>
  </node>

  <node if="$(arg use_pointcloud_tuner_gui)"
    name="pointcloud_tuner_gui"
    pkg="interbotix_perception_modules"
    type="pointcloud_tuner_gui"
    output="screen"
    ns="$(arg filter_ns)">
  </node>

</launch>
