<launch>

    <!-- AprilTag Args & Params-->
    <arg name="apriltag_ns"                     default="apriltag"/>
    <arg name="camera_color_topic"              default="/camera/color/image_raw"/>
    <arg name="camera_info_topic"               default="/camera/color/camera_info"/>

    <!-- RealSense Args & Params -->
    <arg name="use_cam"                         default="true"/>

    <!-- TF Map to Landmark Args -->
    <arg name="fixed_frame"                     default="landmarks"/>
    <arg name="original_frame"                  default="map"/>

    <!-- AprilTag -->
    <include file="$(find interbotix_perception_modules)/launch/apriltag.launch">
        <arg name="apriltag_ns"                 value="$(arg apriltag_ns)"/>
        <arg name="camera_color_topic"          value="$(arg camera_color_topic)"/>
        <arg name="camera_info_topic"           value="$(arg camera_info_topic)"/>
    </include>

    <!-- RealSense -->
    <include if="$(arg use_cam)" file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="tf_prefix"		            value="/camera"/>
        <arg name="filters"                     value=""/>
        <arg name="align_depth"                 value="false"/>
        <arg name="color_fps"                   value="30"/>
        <arg name="color_width"                 value="640"/>
        <arg name="color_height"                value="480"/>
        <arg name="depth_fps"                   value="30"/>
        <arg name="depth_width"                 value="640"/>
        <arg name="depth_height"                value="480"/>
    </include>

    <!-- Static Transform Publisher -->
    <include file="$(find interbotix_perception_modules)/launch/static_transform_pub.launch">
        <arg name="load_transforms"             value="false"/>
    </include>

    <!-- TF Map to Landmark Launch -->
    <include file="$(find interbotix_landmark_modules)/launch/tf_map_to_landmark.launch">
        <arg name="fixed_frame"                 value="$(arg fixed_frame)"/>
        <arg name="original_frame"              value="map"/>
    </include>

</launch>
