<launch>

    <!-- TF Map to Landmark Args -->
    <arg name="fixed_frame"             default="landmarks"/>
    <arg name="original_frame"          default="map"/>

    <!-- TF Map to Landmark Node -->
    <node
        pkg="interbotix_landmark_modules"
        type="tf_map_to_landmark"
        name="tf_map_to_landmark">
        <param name="fixed_frame"       value="$(arg fixed_frame)"/>
        <param name="original_frame"    value="$(arg original_frame)"/>
    </node>

</launch>
