<?xml version="1.0" ?>
<model>
    <name>RealSenseD415</name>
    <version>1.0</version>
    <sdf version="1.7">RealSenseD415.sdf</sdf>
    <author>Luke Schmitt</author>
    <email>trsupport@trossenrobotics.com</email>
    <description>A model of the Intel RealSense D415 Depth Camera.</description>
</model>
