<?xml version="1.0" ?>
<model>
    <name>TrossenRoboticsOfficeBuilding</name>
    <version>1.0</version>
    <sdf version="1.7">TrossenRoboticsOfficeBuilding.sdf</sdf>
    <author>Luke Schmitt</author>
    <email>trsupport@trossenrobotics.com</email>
    <description>A model of the Trossen Robotics Offices</description>
</model>
