name: build-xs-galactic

on:
  push:
    branches:
      - galactic
  pull_request:
    branches:
      - galactic
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  xs-galactic:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: galactic}
    runs-on: ubuntu-20.04
    env:
      CCACHE_DIR: "${{ github.workspace }}/.ccache"
    steps:
      - name: Checkout ROS Toolboxes
        uses: actions/checkout@v3
        with:
          submodules: recursive
          path: src/interbotix_ros_toolboxes
      - name: Checkout ROS Core
        uses: actions/checkout@v3
        with:
          repository: interbotix/interbotix_ros_core
          ref: galactic
          submodules: recursive
          path: src/interbotix_ros_core
      - name: Checkout Apriltag ROS package
        uses: actions/checkout@v3
        with:
          repository: interbotix/apriltag_ros
          ref: ros2-port
          path: src/apriltag_ros
      - name: Checkout MoveIt Visual Tools package
        uses: actions/checkout@v3
        with:
          repository: ros-planning/moveit_visual_tools
          ref: ros2
          path: src/moveit_visual_tools
      - name: Install non-rosdep Python dependencies
        run: python3 -m pip install modern-robotics transforms3d
      - name: Prepare Workspace
        run: |
          rm src/interbotix_ros_toolboxes/interbotix_perception_toolbox/COLCON_IGNORE
          rm src/interbotix_ros_toolboxes/interbotix_common_toolbox/interbotix_moveit_interface/COLCON_IGNORE
          rm src/interbotix_ros_toolboxes/interbotix_common_toolbox/interbotix_moveit_interface_msgs/COLCON_IGNORE
      - name: ROS-I CI
        uses: ros-industrial/industrial_ci@master
        with:
          config: ${{toJSON(matrix.env)}}
