name: build-xs-galactic

on:
  push:
    branches:
      - galactic
  pull_request:
    branches:
      - galactic
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  xs-galactic:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: galactic, ROS_REPO: main}
    runs-on: ubuntu-20.04
    env:
      CCACHE_DIR: "${{ github.workspace }}/.ccache"
    steps:
      - name: Checkout ROS Toolboxes
        uses: actions/checkout@v3
        with:
          submodules: recursive
          path: src/interbotix_ros_toolboxes
      - name: Checkout ROS Core
        uses: actions/checkout@v3
        with:
          repository: interbotix/interbotix_ros_core
          ref: galactic
          submodules: recursive
          path: src/interbotix_ros_core
      - name: Checkout Apriltag ROS package
        uses: actions/checkout@v3
        with:
          repository: interbotix/apriltag_ros
          ref: ros2-port
          path: src/apriltag_ros
      - name: Remove IGNORE files
        run: |
          rm src/interbotix_ros_toolboxes/interbotix_common_toolbox/interbotix_landmark_modules/COLCON_IGNORE
          rm src/interbotix_ros_toolboxes/interbotix_perception_toolbox/COLCON_IGNORE
      - name: Get cache
        uses: actions/cache@v2
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.ROS_DISTRO }}-${{ matrix.ROS_REPO }}-${{github.run_id}}
          restore-keys: |
            ccache-${{ matrix.ROS_DISTRO }}-${{ matrix.ROS_REPO }}-
      - name: ROS-I CI
        uses: ros-industrial/industrial_ci@master
        with:
          config: ${{toJSON(matrix.env)}}
